<div style="border: 1px solid #ccc; border-radius: 10px; padding: 15px; margin: 10px; width: 200px; background-color: lightblue;">
    <img src="{{ data.gambar }}" alt="{{ data.name }}" style="width: 100%; height: auto; border-radius: 10px;">
    <h3><strong>{{ data.name }}</strong></h3>
    <p><strong>ID:</strong> {{ data.id }}</p>
    <p><strong>Kategori:</strong> {{ data.kategori }}</p>
    <p><strong>Harga:</strong> {{ data.harga }}</p>
    <p><strong>Toko:</strong> {{ data.toko }}</p>
    <p><strong>Alamat:</strong> {{ data.alamat }}</p>
    <p><strong>Kontak:</strong> {{ data.kontak }}</p>
    <div style="display: flex; flex-direction: column; gap: 10px; width: 70px;">

        <a href="{% url 'main:all_review' data.pk %}">
            <button style="background-color: blue; color: white;">Ulasan</button>
        </a>

        <a href="{% url 'main:checkout' data.pk %}">
            <button style="background-color: blue; color: white;">Checkout</button>
        </a>

        <a href="{% url 'main:create_report' data.pk %}">
        <button style="background-color: blue; color: white;">Complain</button>
        </a>
    </div>
    {% if request.user.profile.role == "ADMIN" %}
    <h1>*Untuk admin*</h1>
    <div style="display: flex; flex-direction: column; gap: 10px; width: 70px;">
        <a href="{% url 'main:delete_product' data.pk %}">
            <button style="background-color: blue; color: white;">Delete</button>
        </a>
        <a href="{% url 'main:edit_product' data.pk %}">
            <button style="background-color: blue; color: white;">Edit</button>
        </a>
    </div>
    {% endif %}
</div>