<a href="{% url 'main:product_detail' data.id %}">
    <div class="w-48 h-80 border border-solid border-gray-300 rounded-lg p-4 m-2.5 bg-blue-100 flex flex-col">
        <div class="h-40 overflow-hidden rounded-lg mb-4">
            <img src="{{ data.gambar }}" alt="{{ data.name }}" class="w-full h-full object-cover">
        </div>
        <div class="flex flex-col">
            <div class="bg-blue-200 text-blue-800 text-xs font-semibold px-2 py-1 rounded-full w-fit mb-2">
                {{ data.kategori }}
            </div>
            <h3 class="font-bold text-lg mb-2 line-clamp-2">{{ data.name }}</h3>
            <p class="text-sm mt-auto font-bold font-sans">Rp {{ data.formatted_harga}}</p>
        </div>
    </div>
</a>
