{% extends "base.html" %}

{% block content %}
<form method="POST">
    {% csrf_token %}
    <div style="display: flex; flex-direction: column;">
        <div>
            <label for="username">Username</label>
            <input type="text" name="username">            
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" name="password">
        </div>
        <div>
            <input type="submit" value="Login">
        </div>
        <div>
            <p>
                Don't have an account yet?
                <a href="{% url 'main:register' %}">Register Now</a>
            </p>
            
        </div>
    </div>        
</form>
{% endblock content %}
