{% extends "base.html" %}
{% block content %}
{% include "navbar.html" %}

<div class="pt-20">
    <br><br>

    <!-- Admin section -->
    {% if request.user.profile.role == "ADMIN" %}
    <div class="m-2">
        <h1>*Untuk admin*</h1>
        <button data-modal-target="crudModal" data-modal-toggle="crudModal" class="btn bg-indigo-700 hover:bg-indigo-600 text-white font-bold py-2 px-4 rounded-lg transition duration-300 ease-in-out transform hover:-translate-y-1 hover:scale-105" onclick="showModal();">
            Add Product
        </button>
    </div>
    {% endif %}

    <!-- Filter Form -->
    <form method="get" class="flex items-center space-x-4 mb-6 mt-4">
        <!-- Category Filter -->
        <div>
            <label for="kategori" class="block text-sm font-medium text-gray-700">Kategori</label>
            <select id="kategori" name="kategori" class="block w-full p-2 border border-gray-300 rounded-md">
                <option value="">All</option>
                {% for kategori in category_list %}
                    <option value="{{ kategori }}" {% if request.GET.kategori == kategori %}selected{% endif %}>
                        {{ kategori }}
                    </option>
                {% endfor %}
            </select>
        </div>

        <!-- Price Filter -->
        <div>
            <label for="min_price" class="block text-sm font-medium text-gray-700">Harga Min</label>
            <input type="number" name="min_price" id="min_price" class="block w-full p-2 border border-gray-300 rounded-md" value="{{ request.GET.min_price }}">
        </div>

        <div>
            <label for="max_price" class="block text-sm font-medium text-gray-700">Harga Max</label>
            <input type="number" name="max_price" id="max_price" class="block w-full p-2 border border-gray-300 rounded-md" value="{{ request.GET.max_price }}">
        </div>

        <!-- Filter Button -->
        <div class="pt-5">
            <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded-md">Filter</button>
        </div>
    </form>

    <!-- Products Section -->
    <div style="display: flex; flex-wrap: wrap; justify-content: space-around; padding: 20px; margin-top: 10px;">
        {% for data in data %}
            {% include 'card_product.html' with data=data %}
        {% empty %}
            <p>No products found.</p>
        {% endfor %}
    </div>
</div>


<div id="crudModal" tabindex="-1" aria-hidden="true" class="hidden fixed inset-0 z-50 w-full flex items-center justify-center bg-gray-800 bg-opacity-50 overflow-x-hidden overflow-y-auto transition-opacity duration-300 ease-out">
  <div id="crudModalContent" class="relative bg-white rounded-lg shadow-lg w-5/6 sm:w-3/4 md:w-1/2 lg:w-1/3 mx-4 sm:mx-0 transform scale-95 opacity-0 transition-transform transition-opacity duration-300 ease-out">
    <!-- Modal header -->
    <div class="flex items-center justify-between p-4 border-b rounded-t">
      <h3 class="text-xl font-semibold text-gray-900">
        Add New Product
      </h3>
      <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center" id="closeModalBtn">
        <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path>
        </svg>
        <span class="sr-only">Close modal</span>
      </button>
    </div>
    <!-- Modal body -->
    <div class="px-6 py-4 space-y-6 form-style">
      <form id="productForm" enctype="multipart/form-data">
        <div class="mb-4">
          <label for="name" class="block text-sm font-medium text-gray-700">Product Name</label>
          <input type="text" id="name" name="name" class="mt-1 block w-full border border-gray-300 rounded-md p-2 hover:border-indigo-700" placeholder="Enter product name" required>
        </div>
        <div class="mb-4">
          <label for="kategori" class="block text-sm font-medium text-gray-700">Category</label>
          <input type="text" id="kategori" name="kategori" class="mt-1 block w-full border border-gray-300 rounded-md p-2 hover:border-indigo-700" placeholder="Enter product category" required>
        </div>
        <div class="mb-4">
          <label for="harga" class="block text-sm font-medium text-gray-700">Price</label>
          <input type="number" id="harga" name="harga" class="mt-1 block w-full border border-gray-300 rounded-md p-2 hover:border-indigo-700" placeholder="Enter product price" required>
        </div>
        <div class="mb-4">
          <label for="toko" class="block text-sm font-medium text-gray-700">Store Name</label>
          <input type="text" id="toko" name="toko" class="mt-1 block w-full border border-gray-300 rounded-md p-2 hover:border-indigo-700" placeholder="Enter store name" required>
        </div>
        <div class="mb-4">
          <label for="alamat" class="block text-sm font-medium text-gray-700">Address</label>
          <textarea id="alamat" name="alamat" rows="3" class="mt-1 block w-full border border-gray-300 rounded-md p-2 hover:border-indigo-700" placeholder="Enter store address" required></textarea>
        </div>
        <div class="mb-4">
          <label for="kontak" class="block text-sm font-medium text-gray-700">Contact</label>
          <input type="text" id="kontak" name="kontak" class="mt-1 block w-full border border-gray-300 rounded-md p-2 hover:border-indigo-700" placeholder="Enter contact information" required>
        </div>
        <div class="mb-4">
          <label for="gambar" class="block text-sm font-medium text-gray-700">Image</label>
          <input type="file" id="gambar" name="gambar" accept="image/*" class="mt-1 block w-full border border-gray-300 rounded-md p-2 hover:border-indigo-700" required>
        </div>
      </form>
    </div>
    <!-- Modal footer -->
    <div class="flex flex-col space-y-2 md:flex-row md:space-y-0 md:space-x-2 p-6 border-t border-gray-200 rounded-b justify-center md:justify-end">
      <button type="button" class="bg-gray-500 hover:bg-gray-600 text-white font-bold py-2 px-4 rounded-lg" id="cancelButton">Cancel</button>
      <button type="submit" id="submitProduct" form="productForm" class="bg-indigo-700 hover:bg-indigo-600 text-white font-bold py-2 px-4 rounded-lg">Save</button>
    </div>
  </div>
</div>

<script>
function addProduct() {
    fetch("{% url 'main:add_product_ajax' %}", {
        method: "POST",
        body: new FormData(document.querySelector('#productForm')),
    })
    .then(response => {
        if (response.ok) {
            // Refresh data atau tampilkan produk terbaru sesuai kebutuhan
            refreshProductEntries();
        } else {
            console.error("Failed to add product:", response.statusText);
        }
    })
    .catch(error => console.error("Error:", error));

    // Reset form setelah submit
    document.getElementById("productForm").reset(); 
    // Menutup modal
    document.getElementById("closeModalBtn").click();

    return false;
}


const modal = document.getElementById('crudModal');
const modalContent = document.getElementById('crudModalContent');

function showModal() {
    const modal = document.getElementById('crudModal');
    const modalContent = document.getElementById('crudModalContent');

    modal.classList.remove('hidden'); 
    setTimeout(() => {
      modalContent.classList.remove('opacity-0', 'scale-95');
      modalContent.classList.add('opacity-100', 'scale-100');
    }, 50); 
}

function hideModal() {
    const modal = document.getElementById('crudModal');
    const modalContent = document.getElementById('crudModalContent');

    modalContent.classList.remove('opacity-100', 'scale-100');
    modalContent.classList.add('opacity-0', 'scale-95');

    setTimeout(() => {
      modal.classList.add('hidden');
    }, 150); 
}

document.getElementById("cancelButton").addEventListener("click", hideModal);
document.getElementById("closeModalBtn").addEventListener("click", hideModal);

document.getElementById("productForm").addEventListener("submit", (e) => {
    e.preventDefault();
    addProduct();
});

</script>



{% endblock content %}
