{% extends "base.html" %}
{% block content %}
{% include "navbar.html" %}

<div class="pt-20">

    <h1>Aqua Adventure Bali</h1>

    <!-- if role == "CUSTOMER" -->
    <div class="m-2 cursor-pointer">
        <a href="{% url 'main:request_admin' %}" class="btn btn-primary" style="background-color: blue; color: white; padding: 10px 20px; text-decoration: none; border-radius: 5px;">
            Request Admin Access
        </a>
    </div>

    <!-- if role == "ADMIN" -->
    <div class="m-2">
        <h1>*Untuk admin*</h1>
        <button style="background-color: blue; color: white; margin-top: 30px; margin: 20px; padding: 10px 20px; border-radius: 5px;">Tambah Produk</button>
    </div>


    <div style="display: flex; flex-wrap: wrap; justify-content: space-around; padding: 20px; margin-top: 10px;">
        {% for data in data %}
            {% include 'card_product.html' with data=data%}
        {% endfor %}
    </div>

</div>

{% endblock content %}
